@use "./variables";
@use "./navbar";
@use "./home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b, #2563eb);
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
}